*{
 margin: 0;
 padding: 0;
}
*,
*::before,
*::after {
 box-sizing: border-box;
}
:root{
 --main-white:#ffffff;
 --main-black: #242424;
 --main-blue: #45567d;
 --main-lightblue: #1f4959;
 --main-darkblue: #011425;
 --main-brown: #f0c648;
 --main-page: #f8f0e3;
}
html {
 font-size: 62.5%;
 scroll-behavior: smooth;
 box-sizing: border-box;
 overflow-x: hidden;
 background-color: var(--main-page);
}
body{
 font-family: 'Poppins', sans-serif;
 color: var(--main-white);
}
.navbar{
 position: fixed;
 padding-left: 20rem;
 padding-right: 2rem;
 padding-top: 2rem;
 right: 1rem;
 background-color: var(--main-page);
 top: 0;
 width: 100%;
 display: flex;
 justify-content: space-between;
 z-index: 100;
 box-sizing: border-box;
}
.nav ul li{
 list-style: none;
}
a{
 text-decoration: none;
 font-size: 1.5rem;
}
.nav ul{
 display: flex;
 font-size: 2rem;
 list-style: none;
 width: 50rem;
 gap: 1rem;
}
.heading{
 display: flex;
 align-items: center;
 text-align: center;
 width: 42%;
 margin-right: 3rem;
}
.logo{
 height: 6rem;
 font-size: 3rem;
 display: flex;
 align-items: center;
 text-align: center;
}
.logo img{
 height: 80%;
 padding-left: 2rem;
}
.buttons{
 display: flex;
 height: 4.7rem;
 gap: 1rem;
}
.language{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 13rem;
 padding: 0 0.6rem;
}
.dropdown {
 position: relative;
 display: inline-block;
}
.flag{
 height: 2rem;
}
.dropdown-content {
 display: none;
 position: absolute;
 top:3.5rem;
 background-color: #333;
 width: 14rem;
 box-shadow: 0 8px 16px rgba(179, 177, 106, 0.096);
 z-index: 1;
 border-radius: 1rem;
 -webkit-border-radius: 1rem;
 -moz-border-radius: 1rem;
 -ms-border-radius: 1rem;
 -o-border-radius: 1rem;
}
.dropdown-content a {
 color: #fff;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}
.dropdown-content a:hover {
 background-color: #555;
 border-radius: 1rem;
 -webkit-border-radius: 1rem;
 -moz-border-radius: 1rem;
 -ms-border-radius: 1rem;
 -o-border-radius: 1rem;
}
.dropdown:hover .dropdown-content {
 display: block;
}
.statement{
 height: 100vh;
 margin-bottom: 10rem;
}
.image-container{
 position: relative;
 margin:auto;
 top: 10rem;
 right: 0;
 overflow: hidden;
 width: 97vw;
 height: 80vh;
 box-shadow: -0.5rem -0.5rem 1rem rgba(88, 88, 88, 0.5);
 display: flex;
 justify-content: end;
 justify-content: end;
 border-top-left-radius: 5rem;
 border-top-right-radius: 5rem;
}
.gradient-overlay {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background: linear-gradient(to right, rgba(255, 255, 255, 1) 40%,rgba(255, 255, 255, 0) 43%);
}
.fog{
 position: absolute;
 left: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 45%;
 margin: 2rem;
}
.fog p{
 font-size: 6rem;
 color: var(--main-black);
 font-family: 'Quicksand', sans-serif;
 margin: 10rem;
 padding: 2rem;
}
.fog button{
 padding: 2rem 5rem;
 background-color: var(--main-darkblue);
 color: var(--main-white);
 border: none;
 font-size: 2rem;
 border-radius: 3rem;
 -webkit-border-radius: 3rem;
 -moz-border-radius: 3rem;
 -ms-border-radius: 3rem;
 -o-border-radius: 3rem;
}
.fog button:hover{
 cursor: pointer;
 background-color: var(--main-lightblue);
}
.link-button,
.link-button-01,
.link-button-last{
 padding: 1.5rem;
 border: none;
 background-color: var(--main-blue);
}
.link-button-01{
 border-bottom-left-radius: 2.5rem;
}
.link{
 color: var(--main-white);
}
.link-button-last{
 background-color: var(--main-blue);
}

.log-in{
 border-bottom-right-radius: 2.5rem;
 border: none;
 box-shadow: 0.2rem 0.2rem 1rem rgba(88, 88, 88, 0.5);
 width: 9rem;
 background-color: var(--main-brown);
 color: var(--main-white);
}
.ecosphere{
 color: var(--main-brown);
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.cap{
 display: flex;
 z-index: 1100;
}
.second-height{
 margin-top: 6rem;
}
.prt{
 display: flex;
 gap: 10rem;
 padding-left: 1.5rem;
 width: 80vw;
 margin: auto;
 overflow: hidden;
}
figure{
 margin: 2rem 10rem 0 10rem;
 padding: 0 10rem;
}
figure,
.user-ratings{
 display: flex;
 gap: 2rem;
 align-items: center;
 text-align: center;
}
.user-profile,
.captional-word{
 display: flex;
 flex-direction: column;
 gap: 2rem;
}
.quotes-mark{
 font-size: 15rem;
 text-align: center;
 color: var(--main-white);
 background-color: var(--main-darkblue);
 width: 6rem;
 border-top-right-radius: 3rem;
 height: 6rem;
 line-height: 5rem;
}
.quotes-mark img{
 height: 50%;
 vertical-align: middle;
}
.bland-color{
 background-color: var(--main-brown);
 height: 8rem;
 width: 8rem;
 margin-left: auto;
 border-bottom-left-radius: 4rem;
}
.user-profile-img{
 background-color: var(--main-brown);
 height: 26rem;
 width: 17rem;
 border-top-left-radius: 6rem;
 overflow: hidden;
}
.user-profile-img-cont{
 background-color: var(--main-brown);
 height: 23rem;
 width: 34.5rem;
 border-top-left-radius: 6rem;
 overflow: hidden;
}
.caption{
 height: 20rem;
 width: 45rem;
 background-color: var(--main-blue);
 border-bottom-right-radius: 6rem;
 color: var(--main-white);
 padding: 2rem;
 text-align: start;
 font-size: 1.6rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.caption-img{
 height: 30rem;
 width: 45rem;
 background-color: var(--main-blue);
 border-bottom-right-radius: 6rem;
 overflow: hidden;
}
figcaption{
 font-size: 2.4rem;
 text-transform: uppercase;
 padding-bottom: 1rem;
}
.captional-word{
 padding-top: 8rem;
}
.scroll{
 font-size: 5rem;
 background: none;
 border: none;
 color: var(--main-black);
}
.scroll:hover{
 background-color: var(--main-blue);
 color: var(--main-white);
}
.note{
 padding:10rem 20rem 5rem 20rem;
}
.note,
.note-01{
 color: var(--main-darkblue);
 font-size: 3rem;
 font-weight: 600;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.note-01{
 padding:0 20rem 5rem 20rem;
}
.info{
 background-color: var(--main-brown);
 color: var(--main-darkblue);
 font-size: 1.6rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 width: 40vw;
 border-bottom-left-radius: 5rem;
 margin: auto;
 padding: 3rem;
}
.info p{
 padding: 3rem;
}
.wrapper{
 display: flex;
 margin: 0 auto;
 gap: 5rem;
 padding: 0 10rem 10rem 10rem;
}
footer{
 background-color: var(--main-darkblue);
 margin: 4rem 15rem;
 
}
.contact{
 display: flex;
 justify-content: space-around;
 width: 80%;
 margin: 0 auto;
 padding-top: 5rem;
 padding-bottom: 5rem;
 font-size: 1.6rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact a,
.foot a{
 color: var(--main-white);
}
li{
 list-style: none;
}
.get-app{
 display: flex;
 align-items: center;
 text-align: center;
 width: 80%;
 margin: 1rem auto;
 padding-left: 10rem;
 font-size: 1.6rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.get-img{
 display: flex;
 align-items: center;
 text-align: center;
 gap: 1rem;
 margin: 4rem;
}
.playstore{
 height: 4rem;
}
.apple{
 height: 3rem;
}
.foot{
 display: flex;
 justify-content: space-between;
 padding: 2rem 4rem;
}
.foot a{
 font-size: 1.2rem;
}
.foot a:hover,
.contact a:hover{
 color: var(--main-brown);
}
.line{
 width: 72%;
 margin: auto;
}
.social-media ul{
 display: flex;
 gap: 2rem;
 padding: 2rem 0;
}
.social-media a{
 font-size: 2rem;
}
.contact section ul{
 padding: 2rem 0;
}
.contact section ul li{
 padding: 0.5rem 0;
}
.contact section ul li .words{
 font-size: 1.6rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product{
 width: 80%;
 margin: auto;
 padding: 15rem 0 0 0;
 text-align: center;
 align-items: center;
}
.plans{
 color: var(--main-darkblue);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.plans h1{
 font-size: 6rem;
}
.plans p{
 font-size: 2rem;
 padding: 4rem;
}
.holder{
 display: flex;
 justify-content: space-evenly;
 margin: auto;
 width: 80%;
}
.fets{
 background-color: var(--main-blue);
 padding: 3rem;
}
.fets:first-child{
 border-bottom-left-radius: 10rem;
}
.fets:last-child{
 border-top-right-radius: 10rem;
}
.cots{
 display: flex;
 padding: 2rem;
 gap: 1rem;
 font-size: 1.8rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.plan-description ul li{
 display: flex;
 gap: 1rem;
 padding: 1rem;
 font-size: 1.8rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.plan-description ul{
 padding-left: 5rem;
}
.plan-description .headt{
 font-size: 1.8rem;
 font-weight: 600;
 text-align: left;
 padding: 2rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.start-button{
 padding: 1rem 0rem 1.5rem;
 border: none;
 font-size: 2rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: 600;
 margin-top: 4rem;
 background-color: var(--main-brown);
 border-radius: 1rem;
 -webkit-border-radius: 1rem;
 -moz-border-radius: 1rem;
 -ms-border-radius: 1rem;
 -o-border-radius: 1rem;
}
.start-button:hover{
 background-color: var(--main-blue);
 border: 0.1rem solid var(--main-brown) ;
}
.start-button a{
 color: var(--main-page);
 padding: 1.5rem 2rem 1.6rem;
}
.start-button a:hover{
 color: var(--main-brown) ;
}
.dollar{
 font-size: 2.4rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 padding-top: 1.5rem;
}
.cent{
 font-size: 6rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.total-cent{
 display: flex;
 gap: 1rem;
}
.time{
 padding-top: 4rem;
 font-size: 2rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.unity h2{
 font-size: 2.4rem;
 font-weight: 600;
 text-align: left;
 padding: 2rem;
 color: var(--main-brown);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cots{
 display: flex;
 align-items: center;
 text-align: center;
 gap: 1rem;
 font-size: 1.8rem;
 padding: 1rem;
}
.cots button{
 background-color: #f70808;
 color: var(--main-white);
 padding: 0.6rem;
 align-items: center;
 justify-content: center;
 display: flex;
 font-size: 1.8rem;
 border: none;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
}
